* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
};

/* Styling the nav bar */

nav{
    background-color: maroon;
    width: 100%;
    color: red;
    text-decoration: none;
}



div {
    border: 1px solid black;
}